@charset "utf-8";
*{
    margin:0px;
    padding:0px;
    
}
#botaoresponlisivel {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    display:none;
}
#container {
    margin:auto;
    width:1000px;
    background-color:#969696;
}
body{
    background-color:#797979;
}
#logotipo {
    width: 250px;
    float: left;
    color: #FFFFFF;
    height: 75Px;
    line-height: 75px;
    text-align: center;
    font-family: "Arial Black", Arial;
    font-size: 2rem;
    background-color: #4F4F4F;
}
nav ul li {
    list-style-type:none;
    padding-left:15px;
    margin-left:20px;
    font-family:"Arial Black", Arial;
    line-height: 75px;
    color:#FFFFFF
}

#menu {
    width:750px;
    height:75px;
    float:right;
    color:#FFFFFF;
    background-color:#303030;
}


.limpar {
    clear:both;
    
}
section {
    width: 71%;
    padding:2%;
    float: left;
}
article {
    font-family: "Arial";
    font-size: 12pt;
    text-align:justify;
}

h1{
    text-align:center;
}
aside {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    width: 21%;
    float: right;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2%;
    margin-top:10px;
}
a{
    text-decoration: none;
    color:#FFFFFF;
}
#rodape {
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
}

img{
    width:20%;
    margin-left:75px;
}
p{
    font-weight: bold;
    margin-top:10px;
}
#contato {
    position: relative;
    height: 351px;
    width: 478px;
    top:50px
}

fieldset{
    border: thin solid #000000;
    border-radius: 100px;
    padding:20px;
}
input, textarea {
    width: 400px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-left:38px;
    
}
label{
    display: block;
    width: 200px;
    float: left;
    padding-left:50px;
}
legend{
    padding-left:50px;
}
#logo {
    position: absolute;
    width: 75px;
    height: 75px;
    left: 131px;
    top: 248px;
    text-align: center;
}
@media (min-width: 1024px){
}



@media (min-width: 768px) and (max-width: 1023px){
    #logotipo {
    width: 100%;
    float: none;
    color: #FFFFFF;
    height: 75Px;
    line-height: 75px;
    text-align: center;
    font-family: "Arial Black", Arial;
    font-size: 2rem;
    background-color: #4F4F4F;
}
nav ul li {
    display: block;
    list-style-type: none;
    font-family: "Arial Black", Arial;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu {
    width: 100%;
    height: 240px;
    color: #FFFFFF;
    background-color: #303030;
    text-align: center;
    display: none;
}
#container {
    margin: auto;
    width: 100%;
    background-color: #969696;
}
section {
    width: 95%;
    padding: 2%;
    text-align: justify;
}
aside {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    width: 94%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2px;
    margin-top:0px;
}
#rodape {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
}
#botaoresponsivel {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    display:block;
    cursor:pointer;
}
    img{
        width:25%;
        margin-left:50px;
    }
}

@media (min-width: 480px) and (max-width: 767px){
    #logotipo {
    width: 100%;
    float: none;
    color: #FFFFFF;
    height: 75Px;
    line-height: 75px;
    text-align: center;
    font-family: "Arial Black", Arial;
    font-size: 2rem;
    background-color: #4F4F4F;
}
nav ul li {
    display: block;
    list-style-type: none;
    font-family: "Arial Black", Arial;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu {
    width: 100%;
    height: 240px;
    color: #FFFFFF;
    background-color: #303030;
    text-align: center;
    display: none;
}
#container {
    margin: auto;
    width: 100%;
    background-color: #969696;
}
section {
    width: 95%;
    padding: 2%;
    text-align: justify;
}
aside {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    width: 94%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2px;
    margin-top:0px;
}
#rodape {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
}
#botaoresponsivel {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    display:block;
    cursor:pointer;
}
    img{
        margin-left:35px;
        width:23%;
    }
    #contato {
    position: relative;
    height: 351px;
    width:100%;
    top:50px;
}
    form{
        width:200px
    }

fieldset{
    border: thin solid #000000;
    border-radius: 100px;
    padding:10px;
}
input, textarea {
    width: 350px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-left:20px;
    
}
label{
    display: block;
    width: 350px;
    float: left;
    padding-left:50px;
}
legend{
    padding-left:50px;
}
}

@media (min-width: 321px) and (max-width: 479px){
    #logotipo {
    width: 100%;
    float: none;
    color: #FFFFFF;
    height: 75Px;
    line-height: 75px;
    text-align: center;
    font-family: "Arial Black", Arial;
    font-size: 2rem;
    background-color: #4F4F4F;
}
nav ul li {
    display: block;
    list-style-type: none;
    font-family: "Arial Black", Arial;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu {
    width: 100%;
    height: 240px;
    color: #FFFFFF;
    background-color: #303030;
    text-align: center;
    display: none;
}
#container {
    margin: auto;
    width: 100%;
    background-color: #969696;
}
section {
    width: 95%;
    padding: 2%;
    text-align: justify;
}
aside {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    width: 94%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2px;
    margin-top:10px;
}
#rodape {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
}
#botaoresponsivel {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    display:block;
    cursor:pointer;
}
    img{
        margin-left:20px;
        width:25%;
    }
    #contato {
    position: relative;
    height: 351px;
    width:100%;
    top:50px;
}
    form{
        width:200px
    }

fieldset{
    border: thin solid #000000;
    border-radius: 100px;
    padding:10px;
}
input, textarea {
    width: 250px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-left:15px;
    
}
label{
    display: block;
    width: 250px;
    float: left;
    padding-left:30px;
}
legend{
    padding-left:50px;
}
}

@media (min-width: 0px) and (max-width: 320px){
#logotipo {
    width: 100%;
    float: none;
    color: #FFFFFF;
    height: 75Px;
    line-height: 75px;
    text-align: center;
    font-family: "Arial Black", Arial;
    font-size: 2rem;
    background-color: #4F4F4F;
}
nav ul li {
    display: block;
    list-style-type: none;
    font-family: "Arial Black", Arial;
    line-height: 30px;
    color: #FFFFFF;
    margin-top: 15px;
    margin-bottom: 15px;
}
#menu {
    width: 100%;
    height: 240px;
    color: #FFFFFF;
    background-color: #303030;
    text-align: center;
    display: none;
}
#container {
    margin: auto;
    width: 100%;
    background-color: #969696;
}
section {
    width: 95%;
    padding: 2%;
    text-align: justify;
}
aside {
    font-family: "Arial";
    font-size: 12pt;
    text-align: justify;
    width: 94%;
    padding-top: 4%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-right: 2px;
    margin-top:10px;
    }
#rodape {
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    width: 100%;
}
#botaoresponsivel {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 15px;
    position: absolute;
    text-align: center;
    font-size: 2rem;
    display:block;
    cursor:pointer;
}
    img{
        width:27%;
        margin:5px;
    }
    #contato {
    position: relative;
    height: 351px;
    width:100%;
    top:50px;
}
    form{
        width:100px
    }

fieldset{
    border: thin solid #000000;
    border-radius: 100px;
    padding:10px;
}
input, textarea {
    width: 200px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: none;
    margin-left:10px;
    
}
label{
    display: block;
    width: 200px;
    padding-left:30px;
}
legend{
    padding-left:50px;
}
}